
<link rel="stylesheet" type="text/css" href="mystyle.css">


<h1 id="about-this-document">ABOUT THIS DOCUMENT</h1>

<p>This document contains examples of all possible markdown styling supported by the Allseen system.</p>



<h1 id="headers">HEADERS</h1>

<p>Headers are preceded by one or more #:</p>



<h1 id="header1">Header1</h1>



<h2 id="header2">Header2</h2>



<h3 id="header-3">Header 3</h3>



<h4 id="header-4">Header 4</h4>



<h1 id="emphasis">EMPHASIS</h1>

<p>You can use * or _ to mark text for emphasis. One is italic, two is bold:</p>

<p>This is <em>Italic</em></p>

<p>This is <em>also Italic</em></p>

<p>This is <strong>Bold</strong></p>

<p>This is <strong>also Bold</strong></p>

<p><em>You <strong>can</strong> combine the two</em></p>

<p><del>This is strikethrough</del></p>



<h1 id="lists">LISTS</h1>

<p>Contrary to other markdown dialects, stars are used iso hyphens.</p>



<h2 id="simple-unordered-list">Simple unordered list:</h2>

<ul>
<li>Bullet One</li>
<li>Bullet Two</li>
</ul>



<h2 id="nested-unordered-list">Nested unordered  list:</h2>

<ul>
<li>Bullet One <br>
<ul><li>Nested Bullet One</li>
<li>Nested Bullet two</li></ul></li>
<li>Bullet Two</li>
</ul>



<h2 id="simple-ordered-list">Simple ordered list</h2>

<ol>
<li>Item One</li>
<li>Item Two</li>
</ol>



<h2 id="nested-ordered-list">Nested ordered list</h2>

<ol>
<li>Item One <br>
<ol><li>Sub-Item One</li>
<li>Sub-Item Two</li></ol></li>
<li>Item Two</li>
</ol>



<h2 id="combined-ordered-and-unordered">Combined ordered and unordered</h2>

<ol>
<li>Item One</li>
<li>Item Two</li>
<li>Item Three <br>
<ul><li>Bullet One</li>
<li>Bullet Two</li></ul></li>
</ol>



<h2 id="multiple-paragraphs-in-lists">Multiple Paragraphs in Lists</h2>

<p>List items may consist of multiple paragraphs. Each subsequent paragraph in a list item must be indented by either 4 spaces or one tab:</p>

<ol>
<li><p>This is a list item with two paragraphs. Bacon ipsum dolor sit amet tail short loin shank     ham capicola. Ground round cow corned beef prosciutto. </p>

<p>Tail venison kielbasa ground round  boudin short ribs biltong hamburger spare ribs jerky. </p></li>
<li><p>Brisket tenderloin flank shankle andouille hamburger.</p></li>
</ol>



<h1 id="quotes-and-code">QUOTES AND CODE</h1>



<h2 id="block-quotes">Block Quotes</h2>

<blockquote>
  <p>Bacon ipsum dolor sit amet tail short loin shank ham capicola. Ground round cow corned beef prosciutto. Tail venison kielbasa ground round boudin short ribs biltong hamburger spare ribs jerky. Brisket tenderloin flank shankle andouille hamburger.</p>
  
  <p>Corned beef tri-tip capicola, pork chuck bresaola brisket frankfurter boudin pork chop meatball. Sirloin filet mignon short ribs meatloaf chicken turkey ground round jerky ham tenderloin. Salami hamburger pork chop pork kielbasa ground round corned beef ribeye, fatback shank andouille meatball. Meatloaf frankfurter brisket andouille turducken pork chop swine doner beef ribs spare ribs pork belly. Capicola shoulder brisket, landjaeger swine doner chuck boudin kielbasa turducken bresaola rump. Sirloin porchetta flank fatback, filet mignon tail pig bacon. Pork drumstick jerky, salami ground round shankle andouille ball tip tri-tip spare ribs flank bacon short loin meatball fatback.</p>
</blockquote>

<p>Blockquotes can contain other Markdown elements, including headers, lists, and code blocks:</p>

<blockquote>
  <h2 id="this-is-a-header">This is a header.</h2>
  
  <ol>
  <li>This is the first list item.</li>
  <li>This is the second list item.</li>
  </ol>
  
  <p>Here is some example code:</p>

<pre><code>return shell_exec("echo $input | $markdown_script");
</code></pre>
</blockquote>



<h2 id="code">Code</h2>



<pre class="prettyprint"><code class=" hljs javascript"><span class="hljs-function"><span class="hljs-keyword">function</span> <span class="hljs-title">test</span><span class="hljs-params">()</span> {</span>
  console.log(<span class="hljs-string">"notice the blank line before this function?"</span>);
}</code></pre>



<h1 id="tables">TABLES</h1>

<p>Not all markdown dialects support tables, but Github fortunately does.  You can also use <a href="http://markable.in/editor">Markable</a> to preview the markdown code. </p>

<p>You can create tables by assembling a list of words and dividing them with hyphens “-” for the first row), and then separating each column with a pipe “|”:</p>

<table>
<thead>
<tr>
  <th>First Header</th>
  <th>Second Header</th>
</tr>
</thead>
<tbody><tr>
  <td>Cell one</td>
  <td>Cell two</td>
</tr>
<tr>
  <td>Cell three</td>
  <td>Cell four</td>
</tr>
</tbody></table>


<p>For aesthetic purposes, you can also add extra pipes on the ends:</p>

<table>
<thead>
<tr>
  <th>First Header</th>
  <th>Second Header</th>
</tr>
</thead>
<tbody><tr>
  <td>Cell one</td>
  <td>Cell two</td>
</tr>
<tr>
  <td>Cell three</td>
  <td>Cell four</td>
</tr>
</tbody></table>


<p>Note that the dashes at the top don’t need to match the length of the header text exactly:</p>

<table>
<thead>
<tr>
  <th>Name</th>
  <th>Description</th>
</tr>
</thead>
<tbody><tr>
  <td>Red Button</td>
  <td>You will not resist pushing this.</td>
</tr>
<tr>
  <td>Cord</td>
  <td>You know you want to pull it.</td>
</tr>
</tbody></table>


<p>You can also include inline Markdown such as links, bold, italics, or strikethrough:</p>

<table>
<thead>
<tr>
  <th>Name</th>
  <th>Description</th>
</tr>
</thead>
<tbody><tr>
  <td>Red Button</td>
  <td><del>You will not</del> resist pushing this.</td>
</tr>
<tr>
  <td>Cord</td>
  <td><em>You know</em> you want to pull it.</td>
</tr>
</tbody></table>


<p>Finally, by including colons : within the header row, you can define text to be left-aligned, right-aligned, or center-aligned:</p>

<table>
<thead>
<tr>
  <th align="left">Left-Aligned</th>
  <th align="center">Center Aligned</th>
  <th align="right">Right Aligned</th>
</tr>
</thead>
<tbody><tr>
  <td align="left">left</td>
  <td align="center">centered</td>
  <td align="right">right</td>
</tr>
<tr>
  <td align="left">aligned</td>
  <td align="center">aligned</td>
  <td align="right">aligned</td>
</tr>
</tbody></table>


<p>A colon on the left-most side indicates a left-aligned column; a colon on the right-most side indicates a right-aligned column; a colon on both sides indicates a center-aligned column.</p>



<h1 id="backslash-escape">BACKSLASH ESCAPE</h1>

<p>Markdown allows you to use backslash escapes to generate literal characters which would otherwise have special meaning in Markdown’s formatting syntax. For example, if you wanted to surround a word with literal asterisks, you can use backslashes before the asterisks, like this:</p>

<p>* These are literal asterisks. This line is not emphasized. *</p>

<p>You can escape other formatting characters in the same way.</p>



<h1 id="url-links">URL LINKS</h1>

<p>Complete syntax</p>

<p><a href="http://www.github.com">Visit GitHub!</a></p>

<p>Github also auto-formats a link if it recognizes a URL as such:</p>

<p><a href="http://www.github.com">http://www.github.com</a></p>



<h1 id="links-to-other-pages">Links to Other Pages</h1>

<p>This is <a href="linked_doc.html">a link to another page</a>.</p>

<p>Here, the <a href="subfolder/linked_doc.html">linked doc</a> is in a subfolder.</p>



<h1 id="anchors">ANCHORS</h1>

<p>In standard Markdown, place an anchor <a> </a> where you want to link to and refer to it on the same page by <a href="#abcd">link text</a>.</p>



<h1 id="links">LINKS</h1>

<p>Though there are multiple mechanisms for creating external links, we recommend a) using reference style links, b) using full paths relative to the host, and c) placing link paths at the end of the document. This makes it easier to parse and find links in case we need to make a global search/replace.</p>

<p>Here are a few examples:</p>

<p>This is a link to [an external document in the same dir][id-of-link]</p>

<p>This one links to a [document in a subfolder][id-of-link2]</p>

<p>Note, the actual link path is at the bottom of this document (see the source of this document).</p>



<h1 id="inserting-images">INSERTING IMAGES</h1>

<p>Image links are preceded by “!” . Alt text is put between straight brackets “[]”. </p>

<p>For images hosted locally:</p>

<ul>
<li>Use reference style links, </li>
<li>Full paths relative to the host, and </li>
<li>Put url paths at the end of the document. Example:</li>
</ul>

<p><img src="Images/Dummy.jpg" alt="Dummy Image" title=""></p>

<p>For images from the internet, provide the URL instead of the path.</p>

<p><img src="http://project-nerd.com/wp-content/uploads/2012/12/Garfield-Dalek.jpg" alt="Darfield" title=""></p>