<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<link rel="stylesheet" type="text/css" href="style.css">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>General Document</title>
</head>

<body>
<p><img src="Images/AllSeenlogo2014.jpg" alt="Allseen Logo" title=""> <br>
<a> </a></p>



<h1 id="type-document-title-here">Type Document Title Here</h1>

<p>Month Day, Year</p>



<h2 id="table-of-contents">Table of Contents</h2>

<ul>
<li><a href="#introduction">Introduction</a></li>
<li><a href="#chapter-1-overview">Chapter 1 Overview</a></li>
<li><a href="#chapter-2-some-syntax-examples">Chapter 2 Some Syntax Examples</a></li>
<li><a href="#chapter-3-your-chapter-title-here">Chapter 3 title</a></li>
<li><a href="#appendix-a-markdown-cheat-sheet">Appendix A Markdown Cheat Sheet</a></li>
</ul>

<p>Note that this table of contents is on a chapter level, but you can add additional levels by adding additional anchors. This table uses reference links (see below).</p>



<h2 id="introduction">Introduction</h2>



<h3 id="purpose">Purpose</h3>

<p>Type a purpose for this document</p>



<h3 id="scope">Scope</h3>

<p>Indicate the targeted audience for this document, e.g. :</p>

<p>This document is intended for software engineers and assumes familiarity with the AllJoyn SDK. This template actually assumes that you have a very basic knowledge of the markdown text format.</p>

<p>In order to understand all the examples in this template, you need to look at the non-rendered text in a text editor. If you want to preview what your document will (more or less) look like, there are a number of editors available on the Internet that provide this.</p>

<p>As a general piece of advice; since this document will become a single page on the Allseen documentation system in Drupal, keep it concise. Split your document into several sub-documents if necessary. You can use a top document to link the separate documents together.</p>



<h3 id="references">References</h3>

<p>If there are pages or documents that complement this one, list them. Otherwise, remove this section. </p>



<h2 id="acronyms-and-terms">Acronyms and Terms</h2>

<p>Below is a list of used acronyms and terms:</p>

<ul>
<li><strong>ACR:</strong> Define an acronym here</li>
<li><strong>Term:</strong> Define a term here.</li>
</ul>

<p><a href="#Top">Back to Top</a></p>



<h2 id="chapter-1-overview">Chapter 1 Overview</h2>



<h3 id="what-is-it-all-about">What is it all about?</h3>

<p>If you need it, and you have too much information to put into the introduction, you can use this section to provide an overview of what is in the document. </p>



<h3 id="not-too-much-detail">Not Too Much Detail</h3>

<p>Do not use too much detail here. That comes in subsequent chapters.</p>



<h3 id="try-structured-writing">Try Structured Writing</h3>

<p>Try writing your document in a structured way. Use labels and block of text and organise these blocks in consistent "maps" or sections. Entire libraries of books were written on the subject, so there's no way of going into detail here. But this document template should already give you an idea.</p>

<p><a href="#Top">Back to Top</a></p>



<h2 id="chapter-2-some-syntax-examples">Chapter 2 Some Syntax Examples</h2>



<h3 id="in-this-chapter">In this Chapter</h3>

<p>Now you're actually starting to write content. Add whatever is needed. For the purposes of the this template, this chapter will provide you with sample syntax you can use to create your document. You can copy/paste it and adapt it or write it from scratch.</p>

<p>This chapter serves both as example syntax and as tutorial.</p>



<h3 id="overview">Overview</h3>

<p><a> </a></p>

<ul>
<li><p><a href="#paragraph-styles">Paragraph Styles</a></p></li>
<li><p><a href="#text-formatting">Text Formatting</a></p></li>
<li><p><a href="#using-lists">Using Lists</a></p></li>
<li><p><a href="#inserting-images">Inserting Images</a></p></li>
<li><p><a href="#using-code-blocks">Using Code Blocks</a></p></li>
<li><p><a href="#using-block-quotes">Using Block Quotes</a></p></li>
<li><p><a href="#tables">Tables</a></p></li>
<li><p><a href="using-links">Using Links</a></p></li>
<li><p><a href="#formatting-procedures">Formatting Procedures</a></p></li>
</ul>



<h3 id="paragraph-styles">Paragraph Styles</h3>

<p>You can use heading style and regular paragraphs. The use of headers is quite obvious here. You can use h1 to h6. h1 corresponds with a single hash, h2 is two hashes and so on. For a paragraph, just type regular text.</p>

<p><a href="#Chap2over">Back to Formatting Overview</a></p>



<h3 id="text-formatting">Text Formatting</h3>

<p>You can use italic, bold and strikethrough. Here are some examples:</p>

<p>You can use * or _ to mark text for text formatting. One is italic, two is bold:</p>

<p>This is <em>Italic</em></p>

<p>This is <em>also Italic</em></p>

<p>This is <strong>Bold</strong></p>

<p>This is <strong>also Bold</strong></p>

<p><em>You <strong>can</strong> combine the two</em></p>

<p><strong>Note</strong></p>

<p>Markdown allows you to use backslash escapes to generate literal characters which would otherwise have special meaning in Markdown's formatting syntax. For example, if you wanted to surround a word with literal asterisks, you can use backslashes before the asterisks, like this:</p>

<p>* These are literal asterisks. This line is not emphasized. *</p>

<p>You can escape other formatting characters in the same way.</p>

<p><a href="#Chap2over">Back to Formatting Overview</a></p>



<h3 id="using-lists">Using Lists</h3>

<p>Contrary to other markdown dialects, stars are used iso hyphens.</p>



<h4 id="simple-unordered-list">Simple unordered list:</h4>

<ul>
<li>Bullet One</li>
<li>Bullet Two</li>
</ul>



<h4 id="nested-unordered-list">Nested unordered  list:</h4>

<ul>
<li>Bullet One <br>
<ul><li>Nested Bullet One</li>
<li>Nested Bullet two</li></ul></li>
<li>Bullet Two</li>
</ul>



<h4 id="simple-ordered-list">Simple ordered list</h4>

<ol>
<li>Item One</li>
<li>Item Two</li>
</ol>



<h4 id="nested-ordered-list">Nested ordered list</h4>

<ol>
<li>Item One <br>
<ol><li>Sub-Item One</li>
<li>Sub-Item Two</li></ol></li>
<li>Item Two</li>
</ol>



<h4 id="combined-ordered-and-unordered">Combined ordered and unordered</h4>

<ol>
<li>Item One</li>
<li>Item Two</li>
<li>Item Three <br>
<ul><li>Bullet One</li>
<li>Bullet Two</li></ul></li>
</ol>



<h4 id="multiple-paragraphs-in-lists">Multiple Paragraphs in Lists</h4>

<p>List items may consist of multiple paragraphs. Each subsequent paragraph in a list item must be indented by either 4 spaces or one tab:</p>

<ol>
<li><p>This is a list item with two paragraphs. Bacon ipsum dolor sit amet tail short loin shank     ham capicola. Ground round cow corned beef prosciutto. </p>

<p>Tail venison kielbasa ground round  boudin short ribs biltong hamburger spare ribs jerky. </p></li>
<li><p>Brisket tenderloin flank shankle andouille hamburger.</p></li>
</ol>

<p><a href="#Chap2over">Back to Formatting Overview</a></p>



<h3 id="inserting-images">Inserting Images</h3>

<p>For images hosted locally:</p>

<ul>
<li>Use reference style links, </li>
<li>Full paths relative to the host, and </li>
<li>Put url paths at the end of the document. Example:</li>
</ul>

<p><img src="Images/dummy.jpg" alt="Dummy Image" title=""></p>

<p><strong>Figure 1. Sample Figure 1</strong></p>

<p>For images from the internet, put the URL of the image between round brackets "()".</p>

<p><img src="http://semanticweb.com/wp-content/uploads/sites/2/2013/12/allseen.png" alt="IoE" title=""></p>

<p><strong>Figure 2. Sample Figure 2</strong></p>

<p>Always put the figure title below the figure and use <strong>bold</strong>.</p>

<p><a href="#Chap2over">Back to Formatting Overview</a></p>



<h3 id="using-code-blocks">Using Code Blocks</h3>

<p>A code block is a specifically styled paragraph format, use for representing (you've guessed it) a block of code. You can use syntax highlighting if you want.</p>



<h4 id="without-syntax-highlighting">Without Syntax Highlighting</h4>



<pre class="prettyprint"><code class=" hljs javascript"><span class="hljs-function"><span class="hljs-keyword">function</span> <span class="hljs-title">test</span><span class="hljs-params">()</span> {</span>
  console.log(<span class="hljs-string">"notice the blank line before this function?"</span>);
}</code></pre>



<h4 id="with-syntax-highlighting">With Syntax Highlighting</h4>



<pre class="prettyprint"><code class="language-ruby hljs "><span class="hljs-keyword">require</span> <span class="hljs-string">'redcarpet'</span>
markdown = <span class="hljs-constant">Redcarpet</span>.new(<span class="hljs-string">"Hello World!"</span>)
puts markdown.to_html</code></pre>

<p>For an overview of all available for highlighting, <a href="http://www.rubycoloredglasses.com/2013/04/languages-supported-by-github-flavored-markdown/">go here</a></p>

<p><a href="#Chap2over">Back to Formatting Overview</a></p>



<h3 id="using-block-quotes">Using Block Quotes</h3>

<p>Block quotes are another type of paragraph with a specific layout. Below is an example: <br>
Block Quotes</p>

<blockquote>
  <p>Bacon ipsum dolor sit amet tail short loin shank ham capicola. Ground round cow corned beef prosciutto. Tail venison kielbasa ground round boudin short ribs biltong hamburger spare ribs jerky. Brisket tenderloin flank shankle andouille hamburger.</p>
  
  <p>Corned beef tri-tip capicola, pork chuck bresaola brisket frankfurter boudin pork chop meatball. Sirloin filet mignon short ribs meatloaf chicken turkey ground round jerky ham tenderloin. Salami hamburger pork chop pork kielbasa ground round corned beef ribeye, fatback shank andouille meatball. Meatloaf frankfurter brisket andouille turducken pork chop swine doner beef ribs spare ribs pork belly. Capicola shoulder brisket, landjaeger swine doner chuck boudin kielbasa turducken bresaola rump. Sirloin porchetta flank fatback, filet mignon tail pig bacon. Pork drumstick jerky, salami ground round shankle andouille ball tip tri-tip spare ribs flank bacon short loin meatball fatback.</p>
</blockquote>

<p>Blockquotes can contain other Markdown elements, including headers, lists, and code blocks:</p>

<blockquote>
  <h2 id="this-is-a-header">This is a header.</h2>
  
  <ol>
  <li>This is the first list item.</li>
  <li>This is the second list item.</li>
  </ol>
  
  <p>Here's some example code:</p>

<pre><code>return shell_exec("echo $input | $markdown_script");
</code></pre>
</blockquote>

<p><a href="#Chap2over">Back to Formatting Overview</a></p>



<h3 id="tables">Tables</h3>

<p>There are a couple of ways you can format tables.You can create them by assembling a list of words and dividing them with hyphens "-" for the first row), and then separating each column with a pipe "|". Always precede a table with a table title in <strong>bold</strong>. </p>

<p><strong>Table 1: Sample table 1</strong></p>

<table>
<thead>
<tr>
  <th>First Header</th>
  <th>Second Header</th>
</tr>
</thead>
<tbody><tr>
  <td>Cell one</td>
  <td>Cell two</td>
</tr>
<tr>
  <td>Cell three</td>
  <td>Cell four</td>
</tr>
</tbody></table>


<p>For aesthetic purposes, you can also add extra pipes on the ends:</p>

<p><strong>Table 2: Sample table 2</strong></p>

<table>
<thead>
<tr>
  <th>First Header</th>
  <th>Second Header</th>
</tr>
</thead>
<tbody><tr>
  <td>Cell one</td>
  <td>Cell two</td>
</tr>
<tr>
  <td>Cell three</td>
  <td>Cell four</td>
</tr>
</tbody></table>


<p>Note that the dashes at the top don't need to match the length of the header text exactly:</p>

<p><strong>Table 3: Sample table 3</strong></p>

<table>
<thead>
<tr>
  <th>Name</th>
  <th>Description</th>
</tr>
</thead>
<tbody><tr>
  <td>Red Button</td>
  <td>You will not resist pushing this.</td>
</tr>
<tr>
  <td>Cord</td>
  <td>You know you want to pull it.</td>
</tr>
</tbody></table>


<p>You can also include inline Markdown such as links, bold, italics, or strikethrough:</p>

<p><strong>Table 4: Sample table 4</strong></p>

<table>
<thead>
<tr>
  <th>Name</th>

  <th>Description</th>
</tr>
</thead>
<tbody><tr>
  <td>Red Button</td>
  <td><del>You will not</del> resist pushing this.</td>
</tr>
<tr>
  <td>Cord</td>
  <td><em>You know</em> you want to pull it.</td>
</tr>
</tbody></table>


<p>Finally, by including colons : within the header row, you can define text to be left-aligned, right-aligned, or center-aligned:</p>

<p><strong>Table 5: Sample table 5</strong></p>

<table>
<thead>
<tr>
  <th align="left">Left-Aligned</th>
  <th align="center">Center Aligned</th>
  <th align="right">Right Aligned</th>
</tr>
</thead>
<tbody><tr>
  <td align="left">left</td>
  <td align="center">centered</td>
  <td align="right">right</td>
</tr>
<tr>
  <td align="left">aligned</td>
  <td align="center">aligned</td>
  <td align="right">aligned</td>
</tr>
</tbody></table>


<p>A colon on the left-most side indicates a left-aligned column; a colon on the right-most side indicates a right-aligned column; a colon on both sides indicates a center-aligned column.</p>

<p><strong>Note:</strong> All of the examples above will view equally well in Github and will convert to HTML in the same way. But if you want the document to be readable as plain text, without the markdown being rendered, it helps to spend some time on table formatting.</p>

<p><a href="#Chap2over">Back to Formatting Overview</a></p>



<h3 id="using-links">Using Links</h3>



<h4 id="complete-link-syntax">Complete Link Syntax</h4>

<p>The link text goes between square brackets, the URL goes between round brackets. </p>

<p><a href="http://www.github.com">Visit GitHub!</a></p>

<p>Github also auto-formats a link if it recognizes a URL as such:</p>

<p><a href="http://www.github.com">http://www.github.com</a></p>



<h4 id="internal-links">Internal Links</h4>

<p>In Markdown, you need first toplace an anchor where you want to link to go : </p>



<p><code>&lt;a name="tagname"&gt; &lt;/a&gt;</code> </p>

<p>To create a link to the reference, use this syntax:</p>

<p><code>[link text](#tagname)</code></p>



<h4 id="external-links">External Links</h4>

<p>You can link to an external document by using its name. If document you are referring to is not in the same folder, you need to provide the full path. </p>

<ul>
<li><p>This is a link to <a href="conversiontest2.md">an external document</a></p></li>
<li><p>This one links to <a href="/testfolder/conversiontest2.md">an external document in a subfolder</a></p></li>
</ul>



<h4 id="reference-links">Reference Links</h4>

<p>The preferred way of creating links is using references. This is useful if you want to use multiple links to the same anchor and if you want to manage them more easily afterwards. </p>

<p>Instead of a creating the link in one go, you first create a link to an ID:</p>



<p><code>[Link text][LinkID]</code></p>

<p>Then you define where that ID links to: </p>

<p><code>LinkID: http://your.url.here</code></p>

<p>For example, this one goes to Google:</p>

<p><a href="http://www.google.be">Goto Google</a> <br>
If you have multiple references to the same link, this method allows for easy updating of the link, since you do not need to update the (multiple) links but simply update the (single) reference line.</p>

<p><strong>Note:</strong> When defining the target of a link, you can also use a named anchor instead of a path or URL. This method was used to create the <a href="#Top">Back to Top</a> links in this document as well as the Table of Contents.</p>

<p><a href="#Chap2over">Back to Formatting Overview</a></p>



<h3 id="formatting-procedures">Formatting Procedures</h3>

<p>Use numbered lists for procedures. If a step has substeps, use a nested list:</p>

<p>Proceed as follows to… : </p>

<ol>
<li>Step 1</li>
<li>Step 2 <br>
<ol><li>Step 2.1</li>
<li>Step 2.2</li></ol></li>
</ol>

<p>If you put images inline in a procedure, do not use figure titles.</p>

<p><a href="#Top">Back to Top</a></p>



<h2 id="chapter-3-your-chapter-title-here">Chapter 3 Your Chapter Title Here</h2>



<h3 id="start-writing">Start Writing</h3>

<p>We know you can do it!</p>

<p><a href="#Top">Back to Top</a></p>



<h2 id="appendix-a-appendix-title">Appendix A Appendix Title</h2>

<p>Use an appendix if you need one.</p>

<p>For longer appendices, we strongly recommend creating them as separate documents and linking the main document and the Appendix together using an overview document. </p>

<p><a href="#Top">Back to Top</a></p>
</body>
</html>
